{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
 <style>
     .label {
  color: white;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
 </style>
</head>
<br><br>
<div class="container">
    <H4 class="text-center">Blood Donors Reports</H4><br>

    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Volunteer ID</th>
                <th scope="col">Report ID</th>
                <th scope="col">Station ID</th>
                <th scope="col">Title</th>
                <th scope="col">Created Date</th>
                <th scope="col">Document Path</th>
               
            </tr>
        </thead>
        <tbody>
            {% for t in donor_reports %}
            <tr>
                <td> {{t.volunteer}}</td>
                <td>{{t.report_id}}</td>
                <td>{{t.station_id}}</td>
                <td>{{t.title}}</td>
                <td>{{t.created_at}}</td>
                <td><a href="{% url 'download-donor-report' t.report_id  %}">Download</a></td>


            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>
<div class="container">
    <H4 class="text-center">Blood Donation Reports</H4><br>

    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Volunteer ID</th>
                <th scope="col">Report ID</th>
                <th scope="col">Station ID</th>
                <th scope="col">Title</th>
                <th scope="col">Created Date</th>
                <th scope="col">Document Path</th>

            </tr>
        </thead>
        <tbody>
            {% for t in donation_reports %}
            <tr>
                <td> {{t.volunteer}}</td>
                <td>{{t.report_id}}</td>
                <td>{{t.station_id}}</td>
                <td>{{t.title}}</td>
                <td>{{t.created_at}}</td>
                <td><a href="{% url 'download-donation-report' t.report_id  %}">Download</a></td>

            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>


{% endblock content %}
