{% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success fade show d-flex align-items-center my-3" role="alert">
       <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {% endfor %}
{% endif %}